{{ define "main" }}

{{ partial "navigation.html" . }}

{{"<!-- Start Form Section -->" | safeHTML}}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        {{"<!-- section title -->" | safeHTML}}
        <div class="title text-center wow fadeInDown">
          <h2>{{ .Params.title }}</h2>
        </div>
        
        {{ .Content }}
	  </div>
    </div>
    
    <div class="row section-bg">
      <div class="col-lg-12">
        <div class="border-meghna"></div>
        <form class="form-meghna" action="{{ .Params.submit_to }}" method="POST">
        {{ range .Params.formitems }}
		  <div class="form-group">
		  	{{ $itemid := .id }}
		    <h3><label for="{{ .id }}">{{ .title }}</label></h3>
		    
		    {{ if eq .type "email" }}
		    <input type="email" class="form-control" name="{{ .id }}" id="{{ .id }}" aria-describedby="{{ .id }}">
		    {{ end }}		    
		    
		    {{ if eq .type "textarea" }}
		    <textarea class="form-control" name="{{ .id }}" id="{{ .id }}" aria-describedby="{{ .id }}" placeholder="{{ .placeholder }}" rows={{ .rows }}></textarea>
		    {{ end }}
		    
		    {{ if eq .type "text" }}
		    <input type="text" class="form-control" name="{{ .id }}" id="{{ .id }}" aria-describedby="{{ .id }}" placeholder="{{ .placeholder }}">
		    {{ end }}
		    {{ if eq .type "checkboxes" }}
		    {{ $itemtitle := .title }}
		    {{ range .items }}
		    <div class="form-check">
		    	<input type="checkbox" class="form-check-input" name="{{ $itemtitle }}-{{ $itemid }}-{{ .label }}" id="{{ $itemid }}-{{ .label }}" value="" >
		    	<label class="form-check-label" for="{{ $itemid }}-{{ .label }}">{{ .label }}</label>
		    </div>
		    {{ end }}
		    {{ end }}
		    <small id="{{ .id }}" class="form-text text-muted">{{ .desc }}</small>
		  </div>
         {{ end }}

  			<button type="submit" class="btn btn-primary">Submit</button>         
         </form>
        <div class="border-meghna"></div>         
      </div>
      {{"<!-- /section title -->" | safeHTML}}
	  </div>
    </div>
  </div>
</section>
{{"<!-- /form -->" | safeHTML}}

{{ end }}
