{{ define "main" }}

{{ partial "navigation.html" . }}

<div class="container-md">

{{ range .Site.Params.sections }}

<h2 class="section-title" id="{{ .id }}" >{{ .title }}</h2>
<p class="section-content">{{ .text }}</p>

{{ range .subs }}
<h3>{{ .title }}</h3>
{{ .content }}
{{ end }}
    <hr>
    <div class="border border-primary rounded p-2">
    <h4 class="related-content-title">Related content</h4>

            {{ $filtertag := .filtertag }}

            {{ $.Page.Scratch.Set "count" 0 }}
            {{ $.Page.Scratch.Set "maxcount" 100 }}
            {{ $.Page.Scratch.Set "count" 0 }}

            {{ $.Page.Scratch.Set "rowneeded" "true" }}
            {{ $.Page.Scratch.Set "rowcount" 0 }}

            {{ range site.Pages }}
                {{ $rowcount := $.Page.Scratch.Get "rowcount" }}
                {{ $rowneeded := $.Page.Scratch.Get "rowneeded" }}
                
                {{ if eq $rowneeded "true" }}
                <div class="row justify-content-start">
                    {{ $.Page.Scratch.Set "rowneeded" "false" }}
                {{ end }}

                {{ $count := $.Page.Scratch.Get "count" }}
                {{ $maxcount := $.Page.Scratch.Get "maxcount" }}
                
                {{ if lt $count $maxcount }}
                    {{ if (isSet .Params "tags") }}
                        {{ if $filtertag }}
                            {{ if in .Params.tags $filtertag }}
                                <div class="col-4">
                                <a href="{{ .Permalink }}">{{ .Title }}</a>
                                </div>
                                {{ $.Page.Scratch.Add "count" 1 }}
                                {{ $.Page.Scratch.Add "rowcount" 1 }}
                            {{ end }}
                        {{ end }}
                    {{ end }}
                {{ end }}

                {{ $rowcount := $.Page.Scratch.Get "rowcount" }}
                {{ if gt $rowcount "2" }}
                    </div>
                    {{ $.Page.Scratch.Set "rowcount" 0 }}
                    {{ $.Page.Scratch.Set "rowneeded" "true" }}
                {{ end }}

            {{ end }}

            {{ $rowneeded := $.Page.Scratch.Get "rowneeded" }}
            {{ if eq $rowneeded "false" }}
            <!-- final row -->
            </div>
            {{ end }}
    </div>

{{ end }}

</div>


{{ end }}

