{{ if gt site.RegularPages 0}}
{{"<!-- Start Blog Section -->" | safeHTML}}

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12">
				{{"<!-- section title -->" | safeHTML}}
				<div class="title text-center wow fadeInDown">
					<h2> {{ with i18n "blogTitle" }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span class="color">
							{{ with i18n "blogTitle" }} {{ index (split . " ") 1 | safeHTML }} {{ end }} </span></h2>
					<div class="border-meghna"></div>
				</div>
			</div>
			{{"<!-- /section title -->" | safeHTML}}
		
			{{ $filtertag := .Params.filtertag }}
			
			{{ $page := . }}
			{{ $page.Scratch.Add "count" 0 }}
			{{ if not (isset $page.Params "blogcount") }}
				{{ $page.Scratch.Set "maxcount" 3 }}
			{{ else }}
				{{ $page.Scratch.Set "maxcount" $page.Params.blogcount }}
			{{ end }}
			
			{{ range (where site.RegularPages "Section" "==" "blog") }}
				{{ $count := $page.Scratch.Get "count" }}
				{{ $maxcount := $page.Scratch.Get "maxcount" }}
				{{ if lt $count $maxcount }}
					{{ if $filtertag }} 
						{{ if in .Params.tags $filtertag }}
							{{ .Render "article"}}
							{{ $page.Scratch.Add "count" 1 }}
						{{ end }}
					{{ else }}
						{{ .Render "article"}}				
						{{ $page.Scratch.Add "count" 1 }}
					{{ end }}
				{{ end }}
			{{ end }}
			
			<div class="all-post text-center col-lg-12">
				<a class="btn btn-main" href="{{ `blog` | absLangURL }}">{{ i18n "viewAllPost" }}</a>
			</div>
		</div>
	</div>
{{"<!-- /blog -->" | safeHTML}}
{{ end }}