{{ if gt site.RegularPages 0}}
{{"<!-- Start Blog Section -->" | safeHTML}}

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12">
				{{"<!-- section title -->" | safeHTML}}
				<div class="title text-center wow fadeInDown">
					<h2> {{ with i18n "unitDocListTitle" }} {{ . }} {{ end }}</h2>
					<div class="border-meghna"></div>
				</div>
			</div>
			{{"<!-- /section title -->" | safeHTML}}
		
			<a href="rules">{{ i18n "unitDocListRules" }}</a>
			
		</div>
	</div>
{{"<!-- /blog -->" | safeHTML}}
{{ end }}